;VALEW.seq configuration file
;Set the file path in the sequence local variable Config_path
;Terrance Bradford, 5-06-17
;Chris Schwalm, 8-9-2018

[NewFI]
27_Washer_GEA2="05121674"
HE_SLB_GEA2="04124056"
24_Washer_GEA2="04124069"
Washer_E_Star_GEA2="7200046A"


[Device Configuration]
is_27_Washer=False
is_24_Washer=False
is_SLB=False
Is_Estar_Washer=True

[APL Paths]
; Manual or  CIBuild_Centauro or Release_Centauro
Repository=Manual
Flash=True

[Seq]
;Full Regression Sequence or Full Cycle Sequence
Seq_Name="Full Regression Sequence"




