;TLMB_Main.seq configuration file
;Set the file path in the sequence local variable Config_path
;Chris Schwalm, 1-25-18
;Ian Arlen, 12-13-18

[NewFI]
TLMB_Washer_GEA2=""
TLMB_SLB_GEA2="05121221"

[Device Configuration]
is_TLMB_Washer=True
is_TLMB_SLB=False
is_TLMB_CapTouchUI=False
is_TLMB_TactileUI=True

[APL Paths]
; Manual or CIBuild_TLMB or Release_TLMB
Repository=Manual
Flash=True

[Seq]
;Full Regression Sequence or Full Cycle Sequence
Seq_Name="Full Regression Sequence"




