;VALEW.seq configuration file
;Set the file path in the sequence local variable Config_path
;Chris Osborne, 1-21-14

[NewFI]
HE_Washer_GEA2="04125005"
HE_SLB_GEA2="05121221"
LE_Washer_GEA2="05121116"
LE_SLB_GEA2="05121289"

[Device Configuration]
is_HE_Washer=True
is_HE_SLB=True
is_LE_Washer=True
is_LE_SLB=False

[APL Paths]
; Manual or CIBuild_2015 or CIBuild_2017 or Release_2015 or Release_2017
Repository=CIBuild_2017
Flash=True

[Seq]
;Full Regression Sequence or Full Cycle Sequence
Seq_Name="Full Regression Sequence"




